<nav>
    <img src="./image/icon.png">
    <ul id="header0">
        <li><a href="./homepage">Home</a></li>
        <li><a href="./searches">search</a></li>
        <li><a href="http://github.com/hamzhSuilik">GitHub</a></li>
    </ul>
</nav>

<div style="clear:both;"></div>