
#container0{
    border: 2px blue solid;
}

#container1{
    
    border: 2px red solid;
    box-shadow: 5px 5px 5px 5px;
    background-color: azure;
}



#container1>h1{
    font-style: italic;
    font-family: 'Roboto Condensed', sans-serif;
    color: brown;
}


/*** button *****/

.btn{
    font-size: 20px; 
    border: 2px rgb(47, 0, 255) dashed;
    background-color: aquamarine;
    border-radius: 10px;
    margin-left: 50px;
}

.btn:hover{
    background-color: red;
}

#update{
    border: 2px blue solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;

    border: 2px red solid;
    box-shadow: 5px 5px 5px 5px;
    background-color: azure;

    margin-left: 200px;
}

#update>*{
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5x;
}

#update>button{
    font-size: 20px; 
    border: 2px rgb(47, 0, 255) dashed;
    background-color: aquamarine;
    border-radius: 10px;

    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#update>button:hover{
    background-color: red;
}
